@page "/picturegallery"

@using Photobox.Web.Image;

@inject ImageService imageService;

<h3>Picture Gallery</h3>

@if (imageNames is not null)
{
    <div class="gallery">
        @foreach (var imagePath in imageNames)
        {
            <img src="images/@imagePath" alt="Picture" class="gallery-image" />
        }
    </div>
}
else
{
    <p>No images found.</p>
}

@code {
    private List<string> imageNames;

    protected override async Task OnInitializedAsync()
    {
        imageNames = await imageService.ListImagesAsync();
    }
}
