@page "/"

@using Photobox.Web.Image;

@inject ImageService imageService;

<PageTitle>PictureGallery</PageTitle>

<h1>Gallery</h1>


@if (imageNames.Count > 0)
{
    <div class="gallery">
        @foreach (var imageName in imageNames)
        {
            <div class="image-container">
                <img src="images/@imageName" alt="Picture" class="image" />
                <a href="/api/Image/GetImage/@imageName" class="download-button" download>
                    Download
                </a>
            </div>
        }
    </div>
}
else
{
    <p>No images found.</p>
}

@code {
    private List<string> imageNames = [];

    protected override async Task OnInitializedAsync()
    {
        imageNames = await imageService.ListImagesAsync();

        imageNames.Reverse();
    }
}
