.image-container {
    position: relative;
    background-color: black;
    display: inline-block; /* To make the container fit the content */
    margin-bottom: 5px; /* Add some spacing between containers */
}

.image-container img {
    display: block; /* Removes bottom margin/gap */
    width: 100%; /* Makes the image fully occupy the container's width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
    max-width: 100%;
}

.download-link1 {
    position: absolute;
    font-size: 40px;
    top: 90%; /* Adjust this value to vertically center the button */
    left: 65%; /* Adjust this value to horizontally center the button */
    transform: translate(-50%, -50%); /* Center the button precisely */
    background-color: white;
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    text-size-adjust: 20px;
    text-align: center;
    border: 3px solid black;
}

.print-link1 {
    position: absolute;
    font-size: 40px;
    top: 90%; /* Adjust this value to vertically center the button */
    left: 35%; /* Adjust this value to horizontally center the button */
    transform: translate(-50%, -50%); /* Center the button precisely */
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    text-size-adjust: 20px;
    text-align: center;
    border: 3px solid black;
}

.Download-button {
    position: absolute;
    top: 95%;
    left: 65%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    background: rgb(255, 0, 220);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
}

.Download-button svg {
    margin-right: 8px;
    width: 25px;
}

.Download-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
}

.Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
}

.Download-button::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
}

.Download-button::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
    height: 60%;
}
