.heading {
    text-align: center
}

.image {
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
    width: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Bottom left text */
.button-left {
    position: absolute;
    bottom: 7%;
    left: 30%;
}
/* Bottom left text */
.button-right {
    position: absolute;
    bottom: 8%;
    right: 30%;
}
